<%-include("../partials/head.ejs")%>
<body>

    <%-include("../partials/header.ejs")%>

            <section id="banner">
              <div class="container">
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-4"></div>
                </div>
              </div>
              <img src="/media/border1.png" alt="">
            </section>


            <section id="moredetails">
                  <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center"><%=bannerData.title%></h1>
                            <h2><%=bannerData.mdesc%></h2>
                        </div>
                    </div>
                  </div>
            </section>
           
            <%-include("../partials/footer.ejs")%>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>